@use "../../utils/variables" as *;
.home {
  font-family: $default_font_family;
  .topPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/banner1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 20px;
    height: 725px;
    .leftSide {
      padding-left: 80px;
      padding-bottom: 250px;
      .firstText {
        font-size: 75px;
        color: $secondary_color;
        font-weight: 100;
        line-height: 85px;
      }
      .secondText {
        font-size: 75px;
        color: $secondary_color;
        font-weight: 800;
        line-height: 85px;
      }
      p {
        color: $secondary_color;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin: 12px 0 50px 0;
      }
      .contactBtn {
        background-color: $secondary_color;
        color: $primary_color;
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 17px 50px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
      .contactBtn:hover {
        color: $secondary_color;
        background-color: $primary_color;
      }
    }
    .rightSide {
      width: 947px;
      height: 595px;
      .dogImage {
        width: 757px;
        height: 595px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .services {
    margin-bottom: 100px;
    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #909092;
        width: 700px;
        text-align: center;
      }
    }
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        text-align: center;
        border: 1px solid #ffc5c2;
        border-radius: 10px;
        margin: 0px 15px;
        padding: 100px 35px 70px 35px;
        width: 350px;
        position: relative;
        // .cardImage {
        // }
        .cardInfo {
          h4 {
            font-size: 25px;
            font-weight: 600;
            margin-top: 43px;
            margin-bottom: 22px;
          }
          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            color: #909092;
          }
        }
        .cardBackground {
          position: absolute;
          z-index: -1;
          top: 70px;
          left: 95px;
        }
      }
    }
  }
  .carePet {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    .leftSide {
      width: 475px;
      height: 549px;
      .catImage {
        width: 445px;
        height: 579px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .rightSide {
      width: 540px;
      padding-left: 80px;
      .firstText {
        font-size: 50px;
        font-weight: 300;
        line-height: 60px;
        color: #191d34;
      }
      .secondText {
        font-size: 50px;
        color: $third_color;
        font-weight: 700;
        line-height: 65px;
      }
      p {
        color: $third_color;
        color: #66666f;
        line-height: 28px;
        font-size: 16px;
        margin-bottom: 54px;
        margin-top: 30px;
        width: 450px;
      }
      .contactBtn {
        color: $secondary_color;
        background-color: $primary_color;
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 17px 50px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
      .contactBtn:hover {
        background-color: $secondary_color;
        color: $primary_color;
      }
    }
  }
  .help {
    display: flex;
    justify-content: center;
    align-items: center;
    .leftSide {
      padding-left: 80px;
      .firstText {
        font-size: 50px;
        font-weight: 300;
        line-height: 60px;
        color: #191d34;
      }
      .secondText {
        font-size: 50px;
        color: $third_color;
        font-weight: 700;
        line-height: 65px;
      }
      p {
        color: $third_color;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin: 12px 0 50px 0;
        width: 450px;
      }
      .contactBtn {
        color: $secondary_color;
        background-color: $primary_color;
        border: none;
        font-weight: 500;
        font-size: 16px;
        padding: 17px 50px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
      .contactBtn:hover {
        background-color: $secondary_color;
        color: $primary_color;
      }
    }
    .rightSide {
      width: 947px;
      height: 595px;
      .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        .leftCard {
          margin-right: 20px;
          width: 250px;
          .card {
            text-align: center;
            width: 100%;
            box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
            padding: 40px 40px 33px 40px;
            border-radius: 14px;
            .counter {
              h3 {
                font-size: 60px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
                color: #383737;
                display: inline-block;
                margin-bottom: 2px;
                margin-top: 22px;
                line-height: 1;
              }
            }
            p {
              font-size: 20px;
              color: #808080;
              font-weight: 400;
              font-family: "Open Sans", sans-serif;
              display: block;
              margin-bottom: 0;
            }
          }
        }
        .rightCards {
          margin-left: 20px;
          .topCard {
            width: 250px;
            margin-bottom: 40px;
            .card {
              text-align: center;
              width: 100%;
              box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
              padding: 40px 40px 33px 40px;
              border-radius: 14px;
              .counter {
                h3 {
                  font-size: 60px;
                  font-weight: 700;
                  font-family: "Poppins", sans-serif;
                  color: #383737;
                  display: inline-block;
                  margin-bottom: 2px;
                  margin-top: 22px;
                  line-height: 1;
                }
              }
              p {
                font-size: 20px;
                color: #808080;
                font-weight: 400;
                font-family: "Open Sans", sans-serif;
                display: block;
                margin-bottom: 0;
              }
            }
          }
          .bottomCard {
            width: 250px;
            .card {
              text-align: center;
              width: 100%;
              box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
              padding: 40px 40px 33px 40px;
              border-radius: 14px;
              .counter {
                h3 {
                  font-size: 60px;
                  font-weight: 700;
                  font-family: "Poppins", sans-serif;
                  color: #383737;
                  display: inline-block;
                  margin-bottom: 2px;
                  margin-top: 22px;
                  line-height: 1;
                }
              }
              p {
                font-size: 20px;
                color: #808080;
                font-weight: 400;
                font-family: "Open Sans", sans-serif;
                display: block;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  .our-team {
    margin-bottom: 250px;
    .top-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 90px;
      h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #191d34;
      }
      p {
        font-size: 16px;
        line-height: 30px;
        color: #909092;
        font-weight: 400;
      }
    }
    .images {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .img {
        position: relative;
        width: 350px;
        img {
          width: 100%;
        }
        .info {
          left: 85px;
          bottom: -40px;
          position: absolute;
          border: 1px solid none;
          text-align: center;
          background-color: #fff;
          padding: 20px 40px;
          border-radius: 5px;
          box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
          h3 {
            font-weight: 700;
            color: #222222;
            margin-bottom: 0;
          }
          p {
            font-size: 14px;
            color: #7a7b7c;
            font-weight: 400;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .anipat {
    background: url("../../../assets/banner2.png");
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    margin-bottom: 200px;
    .info {
      width: 730px;
      h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: $secondary_color;
      }
      p {
        font-size: 25px;
        color: #fff;
        line-height: 40px;
        margin-top: 35px;
        margin-bottom: 50px;
      }
    }
    .contactUs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .contactBtn {
        background: #fff;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid transparent;
        color: #ff3500;
        padding: 20px 55px;
        border-radius: 30px;
        cursor: pointer;
      }
      p {
        color: $secondary_color;
        .numberBtn {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 400;
          color: $secondary_color;
          margin-left: 20px;
          line-height: 30px;
          border-radius: 30px;
          text-underline-offset: none;
        }
      }
    }
  }
}
