@use "../../utils/variables" as *;
.home {
  font-family: $fourth_font_family;
  .topPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 180px 40px 40px 40px;
    .main_info {
      text-align: center;
      h1 {
        color: $secondary_color;
        font-weight: 900;
        font-size: 80px;
      }
      h3 {
        color: $secondary_color;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        width: 500px;
      }
      .forColor {
        color: #331d5c;
        display: inline;
      }
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
        button {
          color: #623ab1;
          width: 100px;
          padding: 10px;
          background: $secondary_color;
          border: 1px solid #623ab1;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          cursor: pointer;
        }
      }
    }
    .down_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 232px;
      width: 1150px;
      .social_medias {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a {
          color: $secondary_color;
          font-size: 30px;
        }
      }
      .left_infos {
        .adopt {
          color: $secondary_color;
          line-height: 30px;
        }
        .best {
          color: $secondary_color;
          line-height: 30px;
          text-align: end;
        }
      }
    }
  }
  // .aboutUs {
  //   background-color: $primary_color;
  //   display: flex;
  //   justify-content: space-around;
  //   align-items: center;
  //   padding: 150px 25px;
  //   .leftSide {
  //     .img {
  //       width: 400px;
  //       img {
  //         width: 100%;
  //         height: 100%;
  //       }
  //     }
  //   }
  //   .rightSide {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     width: 400px;
  //     h4 {
  //       color: $fifth_color;
  //       line-height: 100px;
  //       text-align: center;
  //       font-size: 20px;
  //     }
  //     p {
  //       color: $secondary_color;
  //       text-align: center;
  //       line-height: 30px;
  //       font-size: 20px;
  //     }
  //   }
  // }
  // .services {
  //   margin: 100px 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   .topInfo {
  //     margin: 20px 0;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     h3 {
  //       color: $fifth_color;
  //       margin-bottom: 10px;
  //     }
  //     h2 {
  //       margin-bottom: 15px;
  //     }
  //     p {
  //       color: $third_color;
  //       width: 600px;
  //       text-align: center;
  //       margin: 0 0 40px 0;
  //     }
  //   }
  //   .cards {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-wrap: wrap;
  //     gap: 80px;
  //     width: 1200px;
  //     .card {
  //       border-radius: 20px;
  //       background: $primary_color;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       flex-direction: column;
  //       padding: 35px;
  //       margin: 0 20px;
  //       .img {
  //         width: 50px;
  //         img {
  //           width: 100%;
  //           height: 100%;
  //         }
  //       }
  //       h4 {
  //         margin: 20px 0 0 0;
  //       }
  //     }
  //   }
  // }
  .process {
    margin: 80px 0;
    .top_info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .work {
        color: $fifth_color;
        margin: 15px 0;
      }
      .petAdoption {
        font-size: 35px;
      }
      p {
        width: 600px;
        text-align: center;
        margin: 15px 0;
      }
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 100px 0;
      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
        .img {
          width: 220px;
          border: 1px solid black;
          border-radius: 50%;
          padding: 20px;
          img {
            width: 100%;
          }
        }
        .bottom_info {
          text-align: center;
          width: 250px;
          margin-top: 30px;
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .adoptNow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 111px;
    .info {
      margin-left: 400px;
      margin-bottom: 100px;
      h1 {
        width: 400px;
        color: $secondary_color;
        font-size: 35px;
        font-weight: 700;
      }
      .btn {
        color: $secondary_color;
        border: 1px solid;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 15px;
        background: linear-gradient(
          89.93deg,
          #765aa9 -16.15%,
          #38255c 55.63%,
          #331d5c 104.32%
        );

        border: 1px;
        margin-left: 200px;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
  .reviews {
    margin: 80px 0;
    .top_info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .review {
        color: $fifth_color;
        margin: 15px 0;
      }
      .expressions {
        font-size: 35px;
      }
      p {
        width: 600px;
        text-align: center;
        margin: 15px 0;
      }
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 80px 0;
      .card {
        background: $fifth_color;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        border-radius: 20px;
        padding: 80px 40px 60px 40px;
        .profile {
          height: auto;
          gap: 40px;
          .img {
            width: 90px;
            border: 1px solid $secondary_color;
            border-radius: 50%;
            display: flex;
            img {
              width: 100%;
            }
          }
          .full_name {
            font-size: 20px;
            color: $secondary_color;
          }
        }
        .expression {
          text-align: center;
          width: 300px;
          margin-top: 40px;
          text-align: left;
          p {
            margin-top: 10px;
            margin-left: 10px;
            color: $secondary_color;
          }
        }
      }
      .card2 {
        padding-bottom: 40px;
      }
    }
  }
}
