@use "../../utils/variables" as *;
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $default_font_family;
  background: $primary_color;
  padding: 50px 0;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    .img {
      width: 85px;
      height: 77px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .guestPet {
      h1 {
        color: $secondary_color;
        font-size: 40px;
      }
    }
  }
  .footerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    gap: 70px;
    h3 {
      font-size: 20px;
      font-weight: 400;
      color: $secondary_color;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 18px;
      li {
        a {
          font-size: 16px;
          font-weight: 400;
          line-height: 40px;
          color: $secondary_color;
          display: block;
          cursor: pointer;
          list-style: circle;
        }
      }
      li::marker {
        color: $secondary_color;
      }
    }
  }
}
// hr {
//     border-style: inset;
//     border-width: 100px;
//   }
