$primary_color: #698c88;
$secondary_color: #fff;
$third_color: #191d34;
$fourth_color: #7a7a7a;
$fifth_color: #FFE500;

$default_font_family: "Poppins", sans-serif;
$second_font_family: "Lato", sans-serif;
$third_font_family: "ABeeZee", sans-serif;
$fourth_font_family: "Montserrat", sans-serif;
