@use "../../utils/variables" as *;
.navbar {
  background-color: $secondary_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
  font-family: $third_font_family;
  .navbarLogo {
    width: 85px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .centerLinks {
    a {
      padding: 10px 22px;
      text-decoration: none;
      color: #3d3d3d;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .rightLink {
    a {
      color: black;
      font-size: 20px;
    }
  }
}
