@use "../../utils//variables" as *;
.profile {
  font-family: $default_font_family;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0 260px 0;
  background: #e3d0f8;
  .btn {
    border: 1px solid;
    border-radius: 35px;
    button {
      margin: 10px 20px;
      padding: 5px 70px;
      border: 1px solid;
      border-radius: 35px;
      font-size: 30px;
      font-weight: 700;
      background: linear-gradient(to left, #e3d0f8 50%, #5f249f 50%);
      background-size: 200% 100%;
      background-position: right top;
      transition: all 0.5s ease-out;
      color: #5f249f;
      cursor: pointer;
    }
    button:hover {
      background-position: left top;
      color: #e3d0f8;
    }
  }
}
